
<div class="root-container">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container1">
<div class="content">
    <div class="buttons">
        <button type="button" class="btn btn-primary btn-lg" (click)="navigateTo()"><i class="fa fa-plus"></i> Watchlist</button>
   
    </div>
    <div class="Title">
        <h2>Avatar: the way of the water</h2>
        <div class="info">
            <ul>
                <li>Sci-fi/Action</li>
                <li>2022</li>
                <li> 3h 12m</li>
                <li>7.6/10</li>
            </ul>
        </div>
        <div class="description">
            Set more than a decade after the events of the first film, learn the story of the 
            Sully family (Jake, Neytiri, and their kids), the trouble that follows them, the lengths they go to keep each other safe,
             the battles they fight to stay alive, and the tragedies they endure.
        </div>
    </div>
</div>
</div>
</div>

